@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  @layer utilities {

    .boxWidth{
        @apply xl:max-w-[1280px] w-full;
    }

    .flexCenter{
       @apply flex justify-center items-center;
    }

    .flexStart{
        @apply flex justify-center items-start;
    }
    .padding {
      @apply sm:px-16 px-8 sm:py-24 py-12;
    }
  
    .padding-x {
      @apply sm:px-16 px-8;
    }
  
    .padding-y {
      @apply sm:py-24 py-12;
    }
  
    .padding-l {
      @apply sm:pl-16 pl-8;
    }
  
    .padding-r {
      @apply sm:pr-16 pr-8;
    }
  
    .padding-t {
      @apply sm:pt-24 pt-12;
    }
  
    .padding-b {
      @apply sm:pb-24 pb-12;
    }
  
   
  }  

  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
  }
  .cart-item img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
  }
  .cart-item h4 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .item-price {
    color: var(--clr-grey-5);
  }
  
  .amount-btn {
    width: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .amount-btn svg {
    color: var(--clr-primary);
  }
  .amount-btn:hover svg {
    color: var(--clr-primary-light);
  }
  .amount {
    margin-right:9px;
    text-align: center;
    margin-bottom: 0;
    font-size: 1.25rem;
    line-height: 1;
  }
  hr {
    background: var(--clr-grey-5);
    border-color: transparent;
    border-width: 0.25px;
  }
  
  